<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<form action="http://127.0.0.1:8000/signup/" method="post">
    {% csrf_token %}
  Full name:<br>
  <input type="text" name="fullname" value=""><br>
  User Name:<br>
  <input type="text" name="username" value=""><br>
  Email:<br>
  <input type="email" name="email" value=""><br>
  Password:<br>
  <input type="password" name="password" value=""><br>
  Phone Number:<br>
  <input type="text" name="phonenumber" value=""><br>
  <br><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>